<section id="gov-business">
  <div class="grid-container usa-section">
    <h2
      class="font-heading-2xl font-family-sans text-primary-dark text-center margin-0 margin-bottom-8"
    >
      Doing Business with the U.S. Government
    </h2>
    <ul class="usa-card-group">
      <li class="desktop:grid-col-4 usa-card">
        <div class="usa-card__container radius-sm border-base-lightest">
          <header class="usa-card__header">
            <h3 class="usa-card__heading font-family-sans text-primary">
              Become a Federal Contractor
            </h3>
          </header>
          <div class="usa-card__media">
            <div class="usa-card__img padding-6 minh-card">
              {% asset sba-logo.png alt="sba mark" %}
            </div>
          </div>
          <div class="usa-card__body text-base-darker">
            <p>
              The U.S. government seeks to maximize opportunities for small and
              disadvantaged businesses. There are a host of resources and free
              websites with information to help contractors complete the
              registration process and navigate the federal marketplace.
            </p>
            <p>
              The Small Business Administration (SBA.gov) website has lots of
              information for small businesses.
            </p>
          </div>
          <div class="usa-card__footer">
            <a
              class="usa-button usa-button--outline width-full usa-link--external"
              href="https://sba.gov"
              rel="noreferrer"
              target="_blank"
              >Visit SBA.gov</a
            >
          </div>
        </div>
      </li>
      <li class="desktop:grid-col-4 usa-card">
        <div class="usa-card__container radius-sm border-base-lightest">
          <header class="usa-card__header">
            <h3 class="usa-card__heading font-family-sans text-primary">
              Register Your Business
            </h3>
          </header>
          <div class="usa-card__media">
            <div class="usa-card__img padding-6 minh-card">
              {% asset sam-gov-logo.png alt="sam gov mark" %}
            </div>
          </div>
          <div class="usa-card__body text-base-darker">
            <p>
              Registration at the System for Award Management (SAM.gov) is
              required to do business with the U.S. government.
            </p>
            <ul>
              <li>
                Update, renew, or check the status of your entity registration
              </li>
              <li>Search for entity registration and exclusion records</li>
            </ul>
          </div>
          <div class="usa-card__footer">
            <a
              class="usa-button usa-button--outline width-full usa-link--external"
              href="https://SAM.gov"
              rel="noreferrer"
              target="_blank"
              >Visit SAM.gov</a
            >
          </div>
        </div>
      </li>
      <li class="desktop:grid-col-4 usa-card">
        <div class="usa-card__container radius-sm border-base-lightest">
          <header class="usa-card__header">
            <h3 class="usa-card__heading font-family-sans text-primary">
              How to Get Started with GSA Schedules
            </h3>
          </header>
          <div class="usa-card__media">
            <div class="usa-card__img padding-5 minh-card">
              {% asset gsa-logo.png alt="gsa blue block" %}
            </div>
          </div>
          <div class="usa-card__body text-base-darker">
            <p>
              The GSA Schedules program is one of the most popular platforms for
              small and large businesses to reach federal, state, and local
              government agencies. It supports tens of billions in sales of
              commercial products and services annually.
            </p>
          </div>
          <div class="usa-card__footer">
            <a
              class="usa-button usa-button--outline width-full usa-link--external"
              href="https://www.gsa.gov/buying-selling/purchasing-programs/gsa-schedule"
              rel="noreferrer"
              target="_blank"
              aria-describedby="gsa-info"
              >Learn More</a
            >
            <div id="gsa-info" class="height-0 width-0" hidden>
              Learn More about GSA Schedules
            </div>
          </div>
        </div>
      </li>
      <li class="tablet:grid-col-12 usa-card usa-card--flag">
        <div class="usa-card__container radius-sm border-base-lightest">
          <header class="usa-card__header">
            <h2
              class="usa-card__heading font-heading-2xl font-family-sans text-primary-dark"
            >
              Already a Federal Contractor?
            </h2>
          </header>
          <div class="usa-card__media usa-card__img">
            {% asset executive_office_ptos.svg alt="Executive Office of the
            President of the United States mark" class="padding-y-3
            desktop:padding-0"%}
          </div>
          <div class="usa-card__body text-base-darker">
            <p>
              Have questions about waivers from Made in America laws? Please
              reach out to the Made in America Office.
            </p>
          </div>
          <div class="usa-card__footer">
            <a class="usa-button" href="mailto:MadeInAmerica@omb.eop.gov"
              >Email Us</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
