<footer class="usa-footer site-footer" role="contentinfo">
  {% include footer-nav.html %}
  <div class="bg-base-lighter">
    <section class="grid-container usa-section">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <a
            href="https://www.gsa.gov/"
            title="GSA"
            aria-label="GSA"
            rel="noreferrer"
            target="_blank"
            class="flex-align-end text-no-underline text-base-darkest grid-row"
          >
            {% asset gsa-logo.png alt="gsa blue block" %}
            <span
              class="width-card margin-left-1 display-block"
              style="word-wrap: break-word"
              ><b>General Services Administration</b></span
            >
          </a>
        </div>
        <div class="tablet:grid-col-8">
          <p class="usa-prose text-base-darkest">
            This is a U.S. General Services Administration Federal Government
            computer system that is <b>"FOR OFFICIAL USE ONLY."</b> This system
            is subject to monitoring. Individuals found performing unauthorized
            activities are subject to disciplinary action including criminal
            prosecution.
          </p>
        </div>
      </div>
    </section>
  </div>
</footer>
