<section class="grid-container usa-section">
  <div
    class="grid-row grid-gap text-base-darker"
    style="justify-content: space-between"
  >
    <div>
      <h1 class="font-heading-2xl font-family-sans margin-0 margin-bottom-3">
        Made in America
      </h1>
      <h2 class="font-body-lg text-normal margin-0">
        When the U.S. government spends your tax dollars on American goods, we
        ensure our future is made in America.
      </h2>
      <p class="usa-prose">
        “Made in America” policies are designed to increase reliance on domestic
        supply chains and ultimately reduce the need to spend taxpayer dollars
        on foreign-made goods. The Made in America Office (MIAO) will ensure
        that any waivers from Made in America laws are applied clearly,
        consistently, and transparently across federal agencies. The MIAO will
        analyze the information it gathers from waivers to support U.S.
        manufacturing and more resilient supply chains. This site will provide
        relevant market intelligence to those interested in doing business with
        the U.S. government. By centralizing information on past and pending
        waivers, we aim to maximize opportunities for U.S. producers to supply
        goods and services to the federal government.
      </p>
       <p>
        Additional guidance and resources can be found on the <a class="usa-link usa-link--external" href="https://www.whitehouse.gov/omb/management/made-in-america/" target="_blank">
        Office of Management and Budget’s Made-In-America </a> website. 
      </p>
    </div>
  </div>
</section>
    
