<section class="bg-primary-darker waiver-section">
  <div class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-7">
        {% asset waivers.png alt="collage of images" %}
      </div>
      <div class="tablet:grid-col-5 text-base-lightest">
        <h2 class="font-heading-2xl font-family-sans">
          Domestic Preferences Support Agency Missions for the American Public
        </h2>
        <p class="usa-prose">
          Various laws and regulations establish requirements for U.S.
          government procurement and assistance to support American
          manufacturing. Exceptions to these laws and regulations are allowable
          under certain conditions. For example, a waiver or exception from the
          obligation to “Buy American” will be allowed if a needed product is
          not made in the U.S. in sufficient and reasonably available commercial
          quantities of a satisfactory quality or if it is made domestically,
          but not available at a reasonable cost. To ensure that waivers from
          Made in America laws apply clearly, consistently, and transparently,
          agencies will submit proposed waivers along with justification to the
          Made in America Office for review.
        </p>
        <a
          class="usa-button usa-button--outline usa-button--inverse width-auto"
          href="{{ site.baseurl }}/waivers/"
          aria-describedby="waivers-info"
          >Learn More</a
        >
        <div id="waivers-info" class="height-0 width-0" hidden>
          Learn More about Waivers
        </div>
      </div>
    </div>
  </div>
</section>
