/*
  Customize US Web Design System SASS
  See all at designsystem.digital.gov/documentation/settings
*/

$theme-show-notifications: false;
$theme-hero-image: asset_path('mia-hero.png');
$theme-grid-container-max-width: 'widescreen';
$theme-header-max-width: 'widescreen';
$theme-banner-max-width: 'widescreen';
$theme-respect-user-font-size: true;
$theme-font-type-sans: 'public-sans';
$theme-type-scale-sm: 5;
$theme-body-font-size: 'sm';
$theme-body-line-height: 5;

@import 'uswds';

.usa-hero {
  min-height: 178px;
  background-position: top;
  width: 100%;

  @media screen and (min-width: 480px) {
    min-height: 250px;
  }

  @media screen and (min-width: 768px) {
    min-height: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 650px;
  }

  @media screen and (min-width: 1600px) {
    min-height: 850px;
  }
}

.usa-card__img img {
  width: auto;
  height: auto;
  margin: auto;
  max-height: 100%;
  object-fit: contain;
}

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

.usa-card__media .usa-card__img,
.usa-card--flag .usa-card__img {
  border-radius: 0;
}

// some overides needed to match nav designs
.usa-header--extended .usa-logo {
  margin: 10px 0px 0px;

  img {
    max-width: 240px;
  }
}
.usa-nav__secondary {
  height: 100%;
}

.usa-prose {
  h1 {
    line-height: 1.2;
  }

  h1,
  h2 {
    font-family: sans-serif;
  }

  p {
    max-width: none;
  }
}

.usa-layout-docs__main a:not(.usa-button, .usa-pagination__button) {
  text-decoration: none;
  color: #005ea2;
  .usa-current {
    color: white;
  }
}

footer {
  .usa-accordion__heading:not(:first-child) {
    margin-top: 0px;
    border-top: none;
  }
}

.waiver-section .usa-button--outline.usa-button--inverse:hover {
  box-shadow: inset 0 0 0 2px #162e51;
  color: #162e51;
  background-color: #f0f0f0;
}

// recreate menu btn
.mia-mobile-menu-btn {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  flex: 0 1 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #005ea2;
  color: white;
  font-size: 0.81rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 14px;
}

.usa-modal__content {
  position: relative;

  .usa-modal__close {
    position: absolute;
    top: 4rem;
    right: 2rem;
  }
}

.text-base-lightest.usa-link--external::after {
  background-image: url('../img/usa-icons-bg/launch--white.svg') !important;
}

@media screen and (max-width: 1126px) {
  .usa-header--extended .usa-logo img {
    max-width: 140px;
    margin-left: 14px;
  }
}

@media screen and (min-width: 800px) {
  #gov-business .usa-card--flag {
    .usa-card__header,
    .usa-card__body,
    .usa-card__footer {
      margin-left: 30rem;
    }

    .usa-card__img,
    .usa-card__media {
      width: 100%;
      max-width: 450px;
    }
  }
}
/* stylelint-disable */
@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}
/* stylelint-enable */

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  overflow-wrap: break-word;
}
